git+https://github.com/JNewman-cell/yahooquery.git@v2.4.2
pandas>=2.3.3
psycopg[binary]>=3.2.0
psycopg-pool>=3.2.0
python-dotenv>=1.1.1
requests>=2.31.0
requests-futures>=1.0.2
sec-company-lookup>=0.1.1